.question3{
    background-color: rgb(219, 192, 227);
    border: 4px;
    border-style: double;
    padding: 20px;
    margin: 20px;
}
ul > li {
    border-top: 5px solid red;
}  
  

h1 ~ p {
    font-weight: bold;
    background-color: #333;
    color: #fff;
    padding: .5em;
}

h1 + p {
    font-weight: bold;
    background-color: #333;
    color: #fff;
    padding: .5em;
} 