div {
    align-content: center;
    text-align: center;
    padding: auto;
    margin: auto;
    width: 100px;
    height: 100px;
    background: rgba(195, 236, 99, 0.529);
    transition: width 2s;
  }
div {
  transition: width 2s, height 1s;
}
  div:hover {
    width: 300px;
    height: 400px;
  }
  div {
    transform: rotate(20deg);
  }
  div:hover {
    transform: matrix(1, -0.3, 0, 1, 0, 0);
  }